<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>
    <div class="auth-container">
        <h1 class="auth-title">Авторизация</h1>
        <form method="POST" action="{{ url_for('home.login') }}" class="auth-form">
            <!-- Поле для логина -->
            <div class="form-group">
                <label for="login" class="form-label">Логин</label>
                <input 
                    type="text" 
                    name="login" 
                    id="login" 
                    class="form-input" 
                    placeholder="Введите логин" 
                    required>
            </div>
            
            <!-- Поле для пароля -->
            <div class="form-group">
                <label for="password" class="form-label">Пароль</label>
                <input 
                    type="password" 
                    name="password" 
                    id="password" 
                    class="form-input" 
                    placeholder="Введите пароль" 
                    required>
            </div>

            <!-- Кнопка входа -->
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>

        <!-- Ссылка на регистрацию -->
        <p class="auth-login">
            Нет аккаунта? 
            <a href="{{ url_for('home.register') }}" class="auth-link">Зарегистрироваться</a>
        </p>
    </div>
</body>
</html>