<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    
    <!-- Подключение стилей -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">

</head>
<body class="auth">
    <div class="auth-container">
        <h1 class="auth-title">Регистрация</h1>
        <form method="POST" action="{{ url_for('home.register') }}" class="auth-form">
            <!-- Поле для логина -->
            <div class="form-group">
                <label for="login" class="form-label">Логин</label>
                <input 
                    type="text" 
                    name="login" 
                    id="login" 
                    class="form-input" 
                    placeholder="Введите ваш логин" 
                    required>
            </div>
            
            <!-- Поле для пароля -->
            <div class="form-group">
                <label for="password" class="form-label">Пароль</label>
                <input 
                    type="password" 
                    name="password" 
                    id="password" 
                    class="form-input" 
                    placeholder="Введите ваш пароль" 
                    required>
            </div>

            <!-- Кнопка регистрации -->
            <button type="submit" class="btn btn-success">Зарегистрироваться</button>
        </form>

        <!-- Ссылка на авторизацию -->
        <p class="auth-login">
            Уже есть аккаунт? 
            <a href="{{ url_for('home.login') }}" class="auth-link">Войти</a>
        </p>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
            {% if category == 'danger' or category == 'success'%}
          <p class="flash-messages-{{ category }}">{{ message }}</p>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>
</body>
</html>