button {
    font-family: Anonymous_Pro, sans-serif;
    padding: 10px 20px;
    background-color: #CCC5B9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #E98964;
}

/* Стили для кнопок с эмодзи */


button.delete-row {
    padding: 2px 2px; /* Уменьшен padding */
    font-size: 20px; /* Увеличен размер текста */
    background-color: #CCC5B9;
    border: none;
    border-radius: 10%; /* Закругление кнопок */
    cursor: pointer;
    box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.3);
}

button.emodji_button{
    padding: 7px 7px; /* Уменьшен padding */
    font-size: 25px; /* Увеличен размер текста */
    background-color: #CCC5B9;
    border: none;
    border-radius: 10%; /* Закругление кнопок */
    cursor: pointer;
    box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}


button.emodji_button:hover,
button.delete-row:hover,
#add-row:hover {
    background-color: #E98964;
}

table {
    font-family: Anonymous_Pro, sans-serif; /* Шрифт таблицы */
    width: auto; /* Таблица адаптируется по содержимому */
    max-width: 95%; /* Ограничение максимальной ширины */
    margin: 20px auto; /* Центрирование таблицы */
    border-collapse: separate;
    border-spacing: 0;
    background-color: #CCC5B9;
    border-radius: 10px; /* Круглые края */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень вокруг таблицы */
    border: 1px solid #3e3e3e;
    overflow: hidden;
}

thead {
    background-color: #3e3e3e;
    color: #E98964;
    text-align: center;
}

thead th {
    padding: 10px;
    text-align: center; /* Центрирование заголовков */
}

tbody tr {
    background-color: #CCC5B9;
}

tbody tr:nth-child(even) {
    background-color: #E0DCD2;
}

td {
    padding: 10px;
    border-right: 1px solid #3e3e3e; /* Разграничение столбцов */
    white-space: nowrap; /* Сохранение строк в одной строке, если это необходимо */
}

td:last-child {
    border-right: none;
}

td input {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    width: 95%;
}

.editable:disabled {
    border: none;
    background: none;
}

.pagination{
    margin-left: 20px;
}


.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #3e3e3e;
}

.pagination a.active {
    font-weight: bold;
    text-decoration: underline;
    text-decoration: none;
    color: #E98964;
}

th a {
    text-decoration: none;
    color: #CCC5B9;
}

th a .active {
    font-weight: bold;
    color: #E98964;
}

th a:hover {
    color: #E98964;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 1fr auto; /* Две колонки: заголовок и кнопки */
    align-items: center; /* Выравниваем элементы по вертикали */
    gap: 10px; /* Отступ между заголовком и кнопками */
    margin-bottom: 20px;
    margin-right: 10px;
    margin-top: 20px;
}

.header-wrapper h1 {
    text-align: center; /* Заголовок остаётся по центру */
    margin: 0; /* Убираем лишние отступы */
}

.view-mode-switch {
    justify-self: end; /* Размещаем кнопки справа */
    text-decoration: none; /* Убираем подчеркивание ссылок */
}

.search-bar {
    display: grid;
    justify-items: center;
    margin-bottom: 20px;
}

.search-input-container {
    display: grid;
    grid-template-columns: 1fr auto; /* Поле ввода и кнопка в одной строке */
    gap: 10px; /* Пробел между полем ввода и кнопкой */
    width: 500px;
}

.search-input-container input {
    padding: 10px;
    font-size: 16px;
    width: 100%; /* Полная ширина */
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
}

.search-input-container button {
    padding: 10px;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 -0 0 rgba(0, 0, 0, 0);
}

.buttons {
    margin-left: 10px;
    padding: 1px;
}

#mode-text{
    font-size: 18px;
}


