{# templates/base.html #}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{active_page.name}}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    {% block links %} 
 
    {% endblock links %}

</head>
<body>
    {% include "base/navigate.html" %}
    <a href="{{ url_for('home.logout') }}" class="loginout">
        Выход
    </a>
    </div>
    <main>
        {% block content %} 
        {% endblock content %}      
    </main>
    <div class="logout_box">
        
    <script src="{{url_for('static', filename='js/table.js')}}"></script>
</body>
</html>