<div class="controls">
    <label for="records-per-page">Записей на странице:</label>
    <select id="records-per-page" onchange="changeRecordsPerPage(this)">
        <option value="5" {% if records_per_page == 5 %}selected{% endif %}>5</option>
        <option value="10" {% if records_per_page == 10 %}selected{% endif %}>10</option>
        <option value="15" {% if records_per_page == 15 %}selected{% endif %}>15</option>
        <option value="20" {% if records_per_page == 20 %}selected{% endif %}>20</option>
    </select>
    <button onclick="toggleEditMode()">Переключить режим</button>
    <span id="mode-text">Режим просмотра</span>
</div>
<!-- Добавляем поисковую строку -->
<div class="search-bar">
    <form method="get" action="">
        <input 
            type="text" 
            name="search_query" 
            placeholder="Поиск по таблице..." 
            value="{{ search_query|default('') }}" 
        />
        <button type="submit">Искать</button>
    </form>
</div>
<div class="pagination">
    {% for i in range(1, total_pages + 1) %}
        <a href="?page={{ i }}&sort_dir={{ sort_dir }}&records_per_page={{ records_per_page }}&search_query={{ search_query }}&sort_by={{ sort_by }}"
           {% if i == current_page %}class="active"{% endif %}>
            {{ i }}
        </a>
    {% endfor %}
</div>
<table id="table" class="view-mode">
    <thead>
        <tr>
            <th></th>
            {% for title in data.0 %}
            <th>
                {{ title }} <br>
                <a href="?sort_by={{ loop.index0 }}&sort_dir=True&records_per_page={{ records_per_page }}&search_query={{ search_query }}&page={{ current_page }}">
                    ▲
                </a>
                <a href="?sort_by={{ loop.index0 }}&sort_dir=False&records_per_page={{ records_per_page }}&search_query={{ search_query }}&page={{ current_page }}">
                    ▼
                </a>
                {% if current_sort_by == loop.index0 %}
                    {% if current_sort_dir == 'asc' %}
                        <span>▲</span>
                    {% else %}
                        <span>▼</span>
                    {% endif %}
                {% endif %}
            </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for entry in data[1:] %}
        <tr>
            <td><button class="delete-row">Удалить</button></td>
            {% for i in range(entry|length) %}
                {% if i == 0 %}
                    <td>{{ entry.0 }}</td>
                {% else %}
                    <td><input class="editable" type="text" value="{{ entry[i] }}" disabled></td>
                {% endif%}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<button id="add-row">Добавить строку</button>
<button onclick="saveData()">Сохранить изменения</button>