{% block navigate%}
<div class="container">
    <nav class="menu">
        {% for page in pages %}
            {% if page.have_submenu %}
                <div class="menu-item">
                    <a href="#" class="navigate_link">{{ page.name }}</a>
                    <div class="submenu">
                        {% for subpage in page.submenu %}
                        <a href="{{ url_for(subpage.function_name) }}" {% if subpage.function_name == active_page.function_name %} class="active_navigate_link" {% else %} class="navigate_link" {% endif %}>
                            {{ subpage.name }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            {% elif page.name != pages.0.name %}
                <a href="{{ url_for(page.function_name) }}" {% if page.function_name == active_page.function_name %} class="active_navigate_link" {% else %} class="navigate_link" {% endif %}>
                    {{ page.name }}
                </a>
            {% endif %}
        {% endfor %}
    </nav>
</div>
{% endblock navigate%}