{% extends "base/base.html" %}

{% block links %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock links %}
{% block content %} 
<div class="about-body">
<div class="auth-container">
<h1 class="auth-title">Смена пароля</h1>
<form method="POST" action="{{ url_for('various.change_password') }}" class="auth-form">
    <div class="form-group">
        <label for="old_password" class="form-label">Текущий пароль</label>
        <input 
            type="password" 
            name="old_password" 
            id="old_password" 
            class="form-input" 
            placeholder="Введите текущий пароль" 
            required>
    </div>

    <div class="form-group">
        <label for="new_password" class="form-label">Новый пароль</label>
        <input 
            type="password" 
            name="new_password" 
            id="new_password" 
            class="form-input" 
            placeholder="Введите новый пароль" 
            required>
    </div>
    <button type="submit" class="btn btn-primary">Сменить пароль</button>
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
            {% if category == 'danger' or category == 'success'%}
          <p class="flash-messages-{{ category }}">{{ message }}</p>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
</div>
<div>
<br>
    

{% endblock content %}