{# templates/base.html #}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{active_page.ru}}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigate.css') }}">
    {% block link %} 
        
    {% endblock link %}
</head>
<body>
    {% include "navigate.html" %}
    <main>
        {% block content %} 
            Главная страница   
        {% endblock content %}
    </main>
</body>
</html>